.radio {
  display: flex;
  align-items: center;

  &__input {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #D0CFCF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.6s ease;

    &:checked {
      border-color: #00BDD3;

      &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #00BDD3;
        transition: background-color 0.6s ease;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__label {
    font-family: 'Nunito', sans-serif;

    &:hover {
      cursor: pointer;
    }
  }
}

.radio__input:checked {
  outline: none;
}